In [20]:
import pandas as pd
import altair as alt

The data consists of two seperate csv files, one called "players.csv" and one called "sessions.csv". 

There are 196 observations in the "players.csv" file, and it has a large list of variables. It has 9 columns of data, in which 2 are all null values. In the remaining 7, four have objects as values, one has floats, one has integers and one has boolean values. 

variables
* experience (object), player's experience with MineCraft
* subscribe (boolean), did they subscribe to their email service
* hashedEmail (object), the hashed email of the player
* played_hours (float), hours played in game
* name (object), name of player
* gender (object), gender of player
* age (integer), age of player


There are 1535 observations in the "sessions.csv" file, and it has 5 variables, in whcih 3 are objects and two are floats.
* hashedEmail (object), the hashed email of the player
* start_time, the time they started playing, given in 
* end_time, the time they ended playing
* original_start_time  
* original_end_time

In [22]:



players = pd.read_csv("players.csv")
sessions=pd.read_csv("sessions.csv")
#players.info()
sessions.info()

sessions
#players_unique = players["individualId"].unique
#players_unique

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   hashedEmail          1535 non-null   object
 1   start_time           1535 non-null   object
 2   end_time             1533 non-null   object
 3   original_start_time  1535 non-null   float64
 4   original_end_time    1533 non-null   float64
dtypes: float64(2), object(3)
memory usage: 60.1+ KB

,hashedEmail,start_time,end_time,original_start_time,original_end_time
0,bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431...,30/06/2024 18:12,30/06/2024 18:24,1.719770e+12,1.719770e+12
1,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,17/06/2024 23:33,17/06/2024 23:46,1.718670e+12,1.718670e+12
2,f8f5477f5a2e53616ae37421b1c660b971192bd8ff77e3...,25/07/2024 17:34,25/07/2024 17:57,1.721930e+12,1.721930e+12
3,bfce39c89d6549f2bb94d8064d3ce69dc3d7e72b38f431...,25/07/2024 03:22,25/07/2024 03:58,1.721880e+12,1.721880e+12
4,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,25/05/2024 16:01,25/05/2024 16:12,1.716650e+12,1.716650e+12
...,...,...,...,...,...
1530,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,10/05/2024 23:01,10/05/2024 23:07,1.715380e+12,1.715380e+12
1531,7a4686586d290c67179275c7c3dfb4ea02f4d317d9ee0e...,01/07/2024 04:08,01/07/2024 04:19,1.719810e+12,1.719810e+12
1532,fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33...,28/07/2024 15:36,28/07/2024 15:57,1.722180e+12,1.722180e+12
1533,fd6563a4e0f6f4273580e5fedbd8dda64990447aea5a33...,25/07/2024 06:15,25/07/2024 06:22,1.721890e+12,1.721890e+12
1534,36d9cbb4c6bc0c1a6911436d2da0d09ec625e43e6552f5...,20/05/2024 02:26,20/05/2024 02:45,1.716170e+12,1.716170e+12